name: Create and publish Docker images

on:
  push:
    branches: ['master']

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for pipeline-base
        id: meta-base
        uses: docker/metadata-action@8b842e721d38d18bea23b57f4c040e53331f4ca2
        with:
          images: ${{ env.REGISTRY }}/auscalabledronecloud/pipeline-base
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha

      - name: Build and push pipeline-base image
        uses: docker/build-push-action@1bc1040caef9e604eb543693ba89b5bf4fc80935
        with:
          context: ./base
          push: true
          tags: |
            ${{ env.REGISTRY }}/auscalabledronecloud/pipeline-base:latest          
            ${{ steps.meta-base.outputs.tags }}
          labels: ${{ steps.meta-base.outputs.labels }}

      - name: Extract metadata for pipeline-fd
        id: meta-fd
        uses: docker/metadata-action@8b842e721d38d18bea23b57f4c040e53331f4ca2
        with:
          images: ${{ env.REGISTRY }}/auscalabledronecloud/pipeline-fd
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=sha

      - name: Build and push pipeline-fd image
        uses: docker/build-push-action@1bc1040caef9e604eb543693ba89b5bf4fc80935
        with:
          context: ./fracture-detection
          push: true
          tags: |
            ${{ env.REGISTRY }}/auscalabledronecloud/pipeline-fd:latest
            ${{ steps.meta-fd.outputs.tags }}
          labels: ${{ steps.meta-fd.outputs.labels }}